/* put your own styles to customize and override the theme */

.menu-bar-loai-tro-choi{
    background: #007765 !important;
}

body{
    font-family: "Times New Roman", Times, serif !important;
    color: #1A3636 !important;
}

.table-select-number .number-selected {
    background: #ddcaa8 !important;
    border-radius: 5px !important;
}

.table-select-number input {
    border-radius: 6px !important;
}

.table-select-number .number {
    border-radius: 5px !important;
}




.col-checker {
    width: 0 !important;
    text-align: right;
}

.custom-control-inline {
    margin-right: 0 !important;
}

.custom-control {
    padding-left: 0.7rem;
}


.btn2{
    border: 2px solid #0179a8 !important;
    border-radius: 30px !important;
}

input[type='text']{
    border: 2px solid #0179a8 !important;
    border-radius: 30px !important;
}

.number input[type='text']{
    border: 2px solid #fff !important;
    border-radius: 30px !important;
}
.number{
    color: #503301;
}