/* put your own styles to customize and override the theme */

.menu-bar-loai-tro-choi{
    background: #007765 !important;
}

body{
    font-family: "Times New Roman", Times, serif !important;
    color: #1A3636 !important;
}

.table-select-number .number-selected {
    background: #ddcaa8 !important;
    border-radius: 5px !important;
}

.table-select-number input {
    border-radius: 6px !important;
}

.table-select-number .number {
    border-radius: 5px !important;
}